In [2]:
import requests
import pandas as pd

url = 'http://209.38.208.230:8000/api/posts/?date_range=year&dev=sm-0006'

response=requests.get(url).json()

df1=pd.DataFrame(response)

df2 = df1[['created', 'value']]
df2.to_csv('data.csv', index = False)

df2.head()

                created       value
0  2023-04-01T00:00:00Z  124.271186
1  2023-04-01T01:00:00Z  119.100000
2  2023-04-01T02:00:00Z  134.733333
3  2023-04-01T03:00:00Z  134.633333
4  2023-04-01T04:00:00Z  159.000000